/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
section{
  border: 1px dotted grey;
  width: 100%;
  height: 250px;
  font-family: Times new roman;
}
a{
  color: white;
  font-size: 20px;
}
a:hover{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
}
span{
  color:white;
  font-size: 30px;
}
/* END FOOTER */
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  section{
    border: 1px dotted grey;
    width: 100%;
    height: 200px;
  }
  /* End Footer */
}