/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  /*padding-bottom: 30px;*/
  background-color: #222;
  border-top: 0;
  width: 100%;
  height: auto;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.container{
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  padding-top: 0px;
}
section{
  border: 1px dotted grey;
  width: 100%;
  height: 220px;
  font-family: Times new roman;
}
a{
  color: white;
  font-size: 20px;
}
a:hover{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
}
span{
  color:white;
  font-size: 30px;
}
/* END FOOTER */
/********** Extra small devices only **********/
@media (min-height: 576px) and (max-width: 767px) {
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  /*.panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }*/
  .panel-footer section hr {
    width: 50%;
  }
  section{
    border: 1px dotted grey;
    width: 100%;
    height: 250px;
  }
  /* End Footer */
}
@media (max-width: 575px) {

  #quick{
    height:155px;
  }
  #socia{
    height:210px;
  }
  #scroll{
    height:175px;
  }
}