.main {
    padding-top: 5.5%;
    padding-left: 4%;
    padding-right: 4%;
}

.gal-img {
    width:29.5vw;
    height:40vh;
}

.utube {
    width:49%;
    height:45vh;
}

.but1{
    position:absolute;
    right:3%;
    height:37px;
    width:115px;
    border-radius:25px;
    background-image:linear-gradient(60deg,#2BC0E4,#EAECC6 ,#26F2A8 );
    cursor:pointer;
    font-family:tamoha;
    font-size:15px;
}
.but1:hover{
    box-shadow:5px 5px 15px 5px #079D82 ;
}
