/* documentation */
*{
  margin: 0;
  padding: 0;
}
/* Navigation Bar Start */
.header-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top:0;
}
.header-left{
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 4px 20px;
}
.header-left img{
  height: 52px;
}
.header-right{
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.header-right a{
  margin-right: 32px;
  color: #626e6a;
}
.header-right a:hover{
  color: white;
  text-decoration: none;
  transition-delay: 0.15s;
}
.header-right .current-active{
  color: white;
}
.nav-toggle{
    display: none;
}
/*Navigation Bar End */
.but1{
    position:absolute;
    right:3%;
    height:37px;
    width:115px;
    border-radius:25px;
    background-image:linear-gradient(60deg,#2BC0E4,#EAECC6 ,#26F2A8 );
    cursor:pointer;
    font-family:tamoha;
    font-size:15px;
}
.but1:hover{
    box-shadow:5px 5px 15px 5px #079D82 ;
}
/* Media - Queries */
@media screen and (min-width: 769px){
  .nav-toggle-label{
    display: none;
  }
}
@media all and (max-width: 1024px){
  .header-left img{
    height: 36px;
  }
  .header-right-link{
    font-size: 14px;
    margin-right: 5px;
  }
  .header-left{
    margin-top: 8px;
  }
  .header-right{
    margin-top: 14px;
  }
}
@media all and (max-width: 769px){
  .header-left{
    width: 100%;
    justify-content: space-around;
  }
  .header-right{
    flex-wrap: nowrap;
    overflow: hidden;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-right-link{
    margin: 0;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .header-right-link a{
    margin: 0 0 3px 0;
  }
  .nav-toggle:checked ~ .header-right{
    display: block;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 16px;
  }
}

