
.employee-container {
  margin-top:70px;
    border: 2px solid  pink;
}
.employee {
  background-color:black;
  margin:40px auto;
  margin-right: -20px;
  display:block;
  overflow:hidden;
  height:250px;
  border-radius:30px;
  -webkit-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
}
.employee:hover > .employee-image {
  margin-top:-100px;
}
.employee-image {
  height:270px;
  width:100%;
  transition:0.5s;
}
.employee-name {
  color:#fff;
  padding:0px;
}
.employee-name h1 {
  font-size:20px;
}
.employee-name span {
  font-size:17px;
  padding:0px;
}
.span1{
 color: white;
}
.table{
  position: relative;
  top:-60px;
 height: 320px;
  border-spacing:0px;
}
.title{
 top:40px;
  width:100%;
  height:30%;
  position: relative;
}
.text{
  position: relative;
  font-size: 50px;
  left: 10%;
  top:-75px;
  color: white;
}
@media all and (max-width:991px){
.table{
  table-layout:flex;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height: 1340px;
  align-items: center;
  }
  .r1{
    display: flex;
    position: relative;
    top:-40px;
    width:45%;
  }
  .r2{
    display: flex;
    position: relative;
    top:10px;
    height: 500px; 
    width:45%;
  }
  .r3{
    display: flex;
    position: relative;
    top: -200px;
    height: 500px;
    width:45%;
  }
  .employee{
    position: relative;
    width:75%;
    left:-20%;
  }
}
@media all and (max-width:509px){
  .employee{
    position: relative;
    width:77%;
    left:-10%;
  }
}
@media all and (max-width:702px){
.text{
  font-size: 40px;
  top:-64px;
  left: 3px;
  color: white;
}
}
  .r1{
    display: flex;
    position: absolute;
    top: 10px;
    height: 300px;
    width:85%;
  }
  .r2{
    display: flex;
    position: absolute;
    top: -10px;
    height: 300px;
    width:85%;
  }
  .r3{
    display: flex;
    position: absolute;
    top: -10px;
    height: 300px;
    width:85%;
  }
.table .div1{
  display:table-cell;
  }
.adjust{
  width: 100%;
  height: 250px;
  z-index: 1;
  border: 3px outset white;
  border-radius: 30px;
  opacity: 0.9;
  }
body{
  overflow-x: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  }
  /* Media - Queries */
@media screen and (min-width: 769px){
  .nav-toggle-label{
    display: none;
  }
}
@media all and (max-width: 1024px){
  .header-left img{
    height: 36px;
  }
  .header-right-link{
    font-size: 14px;
    margin-right: 5px;
  }
  .header-left{
    margin-top: 8px;
  }
  .header-right{
    margin-top: 14px;
  }
}
@media all and (max-width: 769px){
  .header-left{
    width: 100%;
    justify-content: space-around;
  }
  .header-right{
    flex-wrap: nowrap;
    overflow: hidden;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-right-link{
    margin: 0;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .header-right-link a{
    margin: 0 0 3px 0;
  }
  .nav-toggle:checked ~ .header-right{
    display: block;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 16px;
  }
}
