.table{
<<<<<<< HEAD
  border-spacing:15px; /* need some space ?*/
=======
  border-spacing:15px; 
>>>>>>> master
  display:table;
  table-layout:fixed;
  width:100%;
  height: 250px;
  }
.table div{
  display:table-cell;
  }
.adjust{
  width: 100%;
  height: 250px;
  z-index: 1;
  border: 3px outset white;
  border-radius: 30px;
  opacity: 0.9;
  }
body{
  overflow-x: hidden;
  background-color: black;
  background-image: url("/imgs/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 65px; 
  }
