*{
  margin: 0;
  padding: 0;
}
html{
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

/* ------------------ NAVBAR STARTS ---------------- */
/*a{
  font-size: 15px;
}*/
.header-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: black;
  position: fixed;
  width: 100%;
  font-size: 16px;
  z-index: 1000;
  top:0;
}
.header-left{
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 4px 20px;
}
.header-left img{
  height: 52px;
}
.header-right{
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.header-right a{
  margin-right: 32px;
  color: #626e6a;
}
.header-right a:hover{
  color: white;
  text-decoration: none;
  transition-delay: 0.15s;
}
.header-right .current-active{
  color: white;
}
.nav-toggle{
    display: none;
}

/* Media - Queries */
@media screen and (min-width: 769px){
  .nav-toggle-label{
    display: none;
  }
}
@media all and (max-width: 1024px){
  .header-left img{
    height: 36px;
  }
  .header-right-link{
    font-size: 18px;
    margin-right: 5px;
  }
  .header-left{
    margin-top: 8px;
  }
  .header-right{
    margin-top: 14px;
  }
}
@media all and (max-width: 769px){
  .header-left{
    width: 100%;
    justify-content: space-around;
  }
  .header-right{
    flex-wrap: nowrap;
    overflow: hidden;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-right-link{
    margin: 0;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .header-right-link a{
    margin: 0 0 3px 0;
  }
  .nav-toggle:checked ~ .header-right{
    display: block;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 16px;
  }
}

/* ------------------- NAVBAR ENDS ------------------- */

/* ------------------- ABOUT US STARTS ------------------- */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
    text-align: center;
}

.context img{
    width: 215px;    
}

.context h1, .context h3{
    text-align: center;
    color: black;
    font-size: 50px;
}


.area{
    background: white;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.square{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.square li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /*background: transparent;*/
    background: red;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.square li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.square li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 20s;
}

.square li:nth-child(3){
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
}

.square li:nth-child(4){
    left: 32%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.square li:nth-child(5){
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
}

.square li:nth-child(6){
    left: 12%;
    width: 110px;
    height: 110px;
    animation-delay: 16s;
}

.square li:nth-child(7){
    left: 5%;
    width: 70px;
    height: 70px;
    background: green;
    animation-delay: 4s;
}

.square li:nth-child(8){
    left: 50%;
    width: 85px;
    height: 85px;
    background: green;
    animation-delay: 0s;
    animation-duration: 45s;
}

.square li:nth-child(9){
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 14s;
    animation-duration: 35s;
}

.square li:nth-child(10){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.triangles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.triangles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid yellow;
    animation: animate-tri 25s linear infinite;
    bottom: -150px;
    
}

.triangles li:nth-child(1){
    left: 5%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 110px solid yellow;
    animation-delay: 0s;
}


.triangles li:nth-child(2){
    left: 60%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid yellow;
    animation-delay: 2s;
    animation-duration: 10s;
}

.triangles li:nth-child(3){
    left: 10%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid yellow;
    animation-delay: 12s;
}

.triangles li:nth-child(4){
    left: 80%;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 180px solid yellow;
    animation-delay: 8s;
    animation-duration: 18s;
}

.triangles li:nth-child(5){
    left: 20%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid yellow;
    animation-delay: 6s;
}

.triangles li:nth-child(6){
    left: 75%;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid yellow;
    animation-delay: 3s;
}

.triangles li:nth-child(7){
    left: 30%;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 46px solid green;
    animation-delay: 7s;
}

.triangles li:nth-child(8){
    left: 70%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
    animation-delay: 12s;
    animation-duration: 25s;
}

.triangles li:nth-child(9){
    left: 45%;
    border-left: 82px solid transparent;
    border-right: 82px solid transparent;
    border-bottom: 164px solid yellow;
    animation-delay: 2s;
    animation-duration: 35s;
}

.triangles li:nth-child(10){
    left: 55%;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 32px solid yellow;
    animation-delay: 15s;
    animation-duration: 11s;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 100%;
    animation: animate-cir 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 72%;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 62%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 10s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 15%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
}

.circles li:nth-child(6){
    left: 80%;
    width: 50px;
    height: 50px;
    animation-delay: 12s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 90px;
    height: 90px;
    background: green;
    animation-delay: 3s;
}

.circles li:nth-child(8){
    left: 26%;
    width: 160px;
    height: 160px;
    background: green;
    animation-delay: 9s;
    animation-duration: 10s;
}

.circles li:nth-child(9){
    left: 76%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.circles li:nth-child(10){
    left: 55%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
        border-radius: 10%;
    }

}

@keyframes animate-tri {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
    }

}

@keyframes animate-cir {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
    }

}

.back {
  /* height: 100vh; */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 132vh; */
  background-color: #eeeeee;
}
.bcontainer-index {
  font-size: 20px;
  background-color: white;
  margin-left: 10%;
  padding-right: 7%;
  font-family: 'Texturina', serif;
  background-color: #eeeeee;
}

.title {
  font-size: 28px;
  /*font-family: 'Abril Fatface', cursive;*/
  color: blue;
}

.box {
    font-size: 20px;
    font-family: 'Bangers', cursive;
    width: 22vw;
    min-width: 200px;
    height: 22vh;
    min-height: 200px; 
    margin-left: 3%;
    padding-left: 5%;
    float: left;
}

.box-shadow {
    box-shadow: inset 10px 10px 8px -10px #CCC, inset -10px -10px 8px -10px #CCC;
}

.content-box{
    text-align: center;
    padding: 15px;
    height: 80%;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.content-box:hover{
    background:#fff;
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
    transition: all 0.5s ease 0s;
    font-size: 22px;
    color: black;
    background-color: lightblue;
}
/* pules effect */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
    box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
      box-shadow: 0 0 0 20px rgba(70,118,250, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
      box-shadow: 0 0 0 0 rgba(70,118,250, 0);
  }
}

.wrapper {
  width: 100vw;
  /* height: 100vh; */
  background: #eee;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.house {
  cursor: pointer;
  font-size: 30px;
  font-family: 'Oak', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.house .bg-fill {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.house text {
  fill: #333;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.house:hover .bg-fill, .house.active .bg-fill {
  opacity: 1;
}
.house:hover text, .house.active text {
  fill: #333;
}

/* ------------------- ABOUT US ENDS ------------------- */

/* -------------------------- PROJECT STARTS ------------------------- */

.proj-title {
  height: 101vh;
  position: relative;
  top: 0;
  background-color: #e29a552e;
}

.proj-title img{
  padding-top: 19vh;
  margin-right: 5vw;
  width:auto;
  height:auto;
  float: right;
  z-index: 0;
  opacity: 0.9;
}

.proj-title span{
  color: black;
  font-size: 64px;
  font-family: 'Goldman', cursive;
}

.project-text {
  position: relative;
  top: 40vh;
  margin-left: 5vw;
  z-index: 1;
}

.project-text .proj-text{
   position: relative;
   font-size: 2.5rem;
   left: 10%;
   color: white;
 }

 .project-text .proj-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
   font-family: 'Texturina', serif;
 }


/* -------------------------- PROJECT ENDS -------------------------- */

/* ------------------- TEAMS STARTS ------------------ */

.team-title {
  height: 100vh;
  position: relative;
  top: 0;
  background-color: #f0f8ff;
}

.team-title img{
  padding-top: 20vh;
  margin-left: 5vw;
  width:auto;
  height:auto;
  float: left;
  z-index: 0;
  opacity: 0.9;
}

.team-title span{
  color: black;
  font-size: 64px;
  font-family: 'Goldman', cursive;
}

.teams-text {
  position: relative;
  top: 40vh;
  margin-right: 5vw;
  z-index: 1;
}

.teams-text .team-text{
   position: relative;
   font-size: 2.5rem;
   right: 10%;
   color: black;
 }

 .teams-text .team-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
   font-family: 'Texturina', serif;
 }


.team-content {
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
}

@media screen and (max-width: 767px) {
  .team-content {
    padding-top: 300px;
    flex-direction: column;
  }
}
.team-card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 270px;
  padding-top: 25px;
  margin: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 180px;
  max-width: 180px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon-inactive {
  margin: 0 auto;
  width: 100%;
  height: 180px;
  max-width: 180px;
  border-radius: 20%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.team-card .team-title {
  width: 110%;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.team-card .team-text {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #4885ed;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.team-card:hover {
  height: 270px;
}

.team-card:hover .info {
  height: 90%;
}

.team-card:hover .team-text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.team-card:hover .icon {
  display: none;
}

.team-card:hover .icon-inactive {
  display: unset;
}
/* -------------------------- TEAMS ENDS -------------------------- */

/* ------------------- GALLERY STARTS ------------------ */

.gal-pics {
  background-color: #30cbf4;
}

.gal-title {
  height: 100vh;
  position: relative;
  top: 0;
  background-color: #dbf8ff;
}

.gal-title img{
  padding-top: 10vh;
  margin-right: 5vw;
  width:auto;
  height:auto;
  float: right;
  z-index: 0;
  opacity: 0.9;
}

.gal-title span{
  color: black;
  font-size: 64px;
  font-family: 'Goldman', cursive;
}

.gallery-text {
  position: relative;
  top: 40vh;
  margin-left: 5vw;
  z-index: 1;
}

.gallery-text .gal-text{
   position: relative;
   font-size: 2.5rem;
   left: 10%;
   color: black;
 }

 .gallery-text .gal-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
   font-family: 'Texturina', serif;
 }

.refTable {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0px auto;
    background-color: #30cbf4;
}

.refRow {
    display: table-row;
    padding: 0px auto;
}

.refCell {
    display: table-cell;
    width: 290px;
    text-align: center;
    font-size: 20px;
    border: 1px #30cbf4 solid;
    padding: 0px auto;
    margin: 10px 10px 10px 10px;
    background: #30cbf4;
    color: #333333;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    resize: none;
    outline: 1;
    transition-duration: 0.2s;
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 100%;
    width: 100%;
    background: black;
    text-align: center;
    -webkit-transition: top 0.6s ease-in-out;
    left: 0;
    color: white;
    text-decoration: none;
}

.refCell:hover .info {
    top: 0;
    display: block;
}

.refCell img {
    height: 400px;
    width: 400px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}

.refCell p {
    line-height: 20px;
}

.refCell:hover {
    border-color: #b32f01;
    background: #ffffff;
    -webkit-transition: color background 0.2s ease-in-out;
    -moz-transition: color background 0.2s ease-in-out;
    -ms-transition: color background -0.8s ease-in-out;
    -o-transition: color background 0.2s ease-in-out;
    transition: color background 0.2s ease-in-out;
    cursor: pointer;
    color: #cacaca;
}

.refCell:hover img {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity -0.8s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.refSep {
    display: table-cell;
    width: 5px;
}

/* -------------------------- GALLERY ENDS ------------------------- */

/* -------------------------- CONTACT US START ------------------------- */

.con-title {
  height: 100vh;
  position: relative;
  top: 0;
  background-color: #97df1b25;
}

.con-title img{
  padding-top: 20vh;
  margin-left: 5vw;
  width:auto;
  height:auto;
  float: left;
  z-index: 0;
  opacity: 0.9;
}

.con-title span{
  color: black;
  font-size: 64px;
  font-family: 'Goldman', cursive;
}

.contact-text {
  position: relative;
  top: 40vh;
  margin-right: 5vw;
  z-index: 1;
}

.contact-text .con-text{
   position: relative;
   font-size: 2.5rem;
   right: 10%;
   color: black;
 }

 .contact-text .con-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
   font-family: 'Texturina', serif;
 }

.mphoto>img
{
  width:100%;
}
.mphoto
{
  height: 100%;
  width:100%;
  margin-bottom: 30px;
}
.bphoto
{
  height: 100%;
  width:100%;
  margin:10px;
}
.bphoto span
{
  text-align: center;
  font-size: 1.6em;
  font-family: Times New Roman;
  /*text-transform: uppercase;*/
  color: black;
}
#pas
{
  text-align: center;
  font-size: 1.6em;
  font-family: Times New Roman;
  /*text-transform: uppercase;*/
  color: white;
}
.back
{
  width:100%;
  height:800px; 
  /*background-image: url('../imgs/back.jpg');*/
}
.back1
{
  height:400px;
  padding-top:30px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; 
}
.back2
{
  float: right; 
  padding:30px;
}
.back3
{
  height: 200px;
}
a:hover{
  text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1199px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  
  .bphoto{
    padding-left: 100px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .bphoto{
    padding-left: 100px;
  }
}

@media (max-width: 499px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 500px) and (max-width: 520px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 521px) and (max-width: 580px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }#pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 581px) and (max-width: 610px)
{
  .bphoto{
    padding-left: 120px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
}
@media (min-width: 611px) and (max-width: 700px)
{
  .bphoto{
    padding-left: 150px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
}
@media (min-width: 701px) and (max-width: 767px)
{
  .bphoto{
    padding-left: 170px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
.contact-container1 { 
    width:100%; 
    height:590px; 
    padding-top:0px; 
    padding-left:210px; 
    padding-right:210px;
    padding-bottom:50px;  
} 
.facebook1 { 
    float:left; 
} 
.twitter2 { 
    float:left; 
    margin-left:15px; 
    margin-right:20px;
} 
.instagram3 { 
    float:left;  
}  
.contact-container2 { 
    width:100%; 
    height:360px;  
    padding-top:25px; 
    padding-left:275px; 
    padding-right:275px;
    padding-bottom:15px;
    background-color:  #97df1b25;  
}
.location{
    float:left; 
    padding-top:100px; 
    padding-bottom:100px;  
    font-size:18px;
    font-color:black;   
}
.location img{
    height:30px;
    width:30px;  
}
.map{
    float:right; 
    margin-left:10px; 
    margin-right:10px;
}

/* -------------------------- CONTACT US ENDS -------------------------- */

/* -------------------------- FOOTER STARTS ------------------------- */
.panel-footer {
  padding-top: 25px;
  background-color: #222;
  width: 100%;
}
.container{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}


section{
  width: 100%;
  font-family: Times new roman;
}

.panel-footer a, .panel-footer a:hover, .panel-footer a:visited{
  color: white;
  font-size: 18px;
  text-align: center;
}
.panel-footer span{
  color:white;
  font-size: 20px;
}

/********** Extra small devices only **********/
@media (min-height: 576px) and (max-width: 767px) {
  /* Footer */
  .panel-footer section {
    text-align: center;
  }
  .panel-footer section hr {
    width: 50%;
  }
  section{
    border: 1px dotted grey;
    width: 100%;
  }
  /* End Footer */
}
@media (max-width: 575px) {

  #quick{
    height:155px;
  }
  #socia{
    height:210px;
  }
  #scroll{
    height:175px;
  }
}
/* -------------------------- FOOTER ENDS ----------------------- */

/*--------------------------- Back-to-top button ---------------- */
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: black;
  color: #fff;
  transition: all 0.4s;
  transform: none;
}

.back-to-top i:hover, .back-to-top a {
  background: #343a40;
  color: #fff;
  transform: none;
}