*{
  margin: 0;
  padding: 0;
}
html{
  height: auto;
  width: 100%;
  overflow-x: hidden;
}


/* ------------------ NAVBAR STARTS ---------------- */
/*a{
  font-size: 15px;
}*/
.header-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: black;
  position: fixed;
  width: 100%;
  font-size: 16px;
  z-index: 1000;
  top:0;
}
.header-left{
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 4px 20px;
}
.header-left img{
  height: 52px;
}
.header-right{
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.header-right a{
  margin-right: 32px;
  color: #626e6a;
}
.header-right a:hover{
  color: white;
  text-decoration: none;
  transition-delay: 0.15s;
}
.header-right .current-active{
  color: white;
}
.nav-toggle{
    display: none;
}

/* Media - Queries */
@media screen and (min-width: 769px){
  .nav-toggle-label{
    display: none;
  }
}
@media all and (max-width: 1024px){
  .header-left img{
    height: 36px;
  }
  .header-right-link{
    font-size: 18px;
    margin-right: 5px;
  }
  .header-left{
    margin-top: 8px;
  }
  .header-right{
    margin-top: 14px;
  }
}
@media all and (max-width: 769px){
  .header-left{
    width: 100%;
    justify-content: space-around;
  }
  .header-right{
    flex-wrap: nowrap;
    overflow: hidden;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-right-link{
    margin: 0;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .header-right-link a{
    margin: 0 0 3px 0;
  }
  .nav-toggle:checked ~ .header-right{
    display: block;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 16px;
  }
}

/* ------------------- NAVBAR ENDS ------------------- */

/* ------------------- ABOUT US STARTS ------------------- */

.background-rsu img{
  width: 100%;
}
.back {
  height: 100vh;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  height: 132vh;
}
.bcontainer {
  font-size: 20px;
  font-family: 'Noticia Text', serif;
  background-color: #eeeeee;
  margin-left: 10%;
  padding-right: 5%;
}

.title {
  font-size: 28px;
  /*font-family: 'Abril Fatface', cursive;*/
  color: #3523cd;
}

.box {
    font-size: 20px;
    font-family: 'Bangers', cursive;
    width: 22vw;
    min-width: 200px;
    height: 22vh;
    min-height: 200px; 
    margin-left: 3%;
    padding-left: 5%;
    float: left;
}

.box-shadow {
    box-shadow: inset 10px 10px 8px -10px #CCC, inset -10px -10px 8px -10px #CCC;
}

.content-box{
    text-align: center;
    padding: 15px;
    height: 80%;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.content-box:hover{
    background:#fff;
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
    transition: all 0.5s ease 0s;
    font-size: 22px;
    color: black;
    background-color: lightblue;
}
/* pules effect */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
    box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
      box-shadow: 0 0 0 20px rgba(70,118,250, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
      box-shadow: 0 0 0 0 rgba(70,118,250, 0);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.house {
  cursor: pointer;
  font-size: 30px;
  font-family: 'Oak', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.house .bg-fill {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.house text {
  fill: #333;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.house:hover .bg-fill, .house.active .bg-fill {
  opacity: 1;
}
.house:hover text, .house.active text {
  fill: #333;
}

/* ------------------- ABOUT US ENDS ------------------- */

/* -------------------------- PROJECT STARTS ------------------------- */

.proj-title {
  height: 101vh;
  position: relative;
  top: 0;
}

.proj-title img{
  padding-top: 19vh;
  margin-right: 5vw;
  width:auto;
  height:auto;
  float: right;
  z-index: 0;
  opacity: 0.9;
}

.proj-title span{
  color: black;
  font-size: 64px;
  font-family: 'Roboto';
}

.project-text {
  position: relative;
  top: 40vh;
  margin-left: 5vw;
  z-index: 1;
}

.project-text .proj-text{
   position: relative;
   font-size: 2.5rem;
   left: 10%;
   color: black;
 }

 .project-text .proj-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
 }


/* -------------------------- PROJECT ENDS -------------------------- */

/* ------------------- TEAMS STARTS ------------------ */

.team-title {
  height: 100vh;
  position: relative;
  top: 0;
}

.team-title img{
  padding-top: 20vh;
  margin-left: 5vw;
  width:auto;
  height:auto;
  float: left;
  z-index: 0;
  opacity: 0.9;
}

.team-title span{
  color: black;
  font-size: 64px;
  font-family: 'Roboto';
}

.teams-text {
  position: relative;
  top: 40vh;
  margin-right: 5vw;
  z-index: 1;
}

.teams-text .team-text{
   position: relative;
   font-size: 2.5rem;
   right: 10%;
   color: black;
 }

 .teams-text .team-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
 }


/* -------------------------- TEAMS ENDS -------------------------- */

/* ------------------- GALLERY STARTS ------------------ */

.gal-title {
  height: 100vh;
  position: relative;
  top: 0;
}

.gal-title img{
  padding-top: 10vh;
  margin-right: 5vw;
  width:auto;
  height:auto;
  float: right;
  z-index: 0;
  opacity: 0.9;
}

.gal-title span{
  color: black;
  font-size: 64px;
  font-family: 'Roboto';
}

.gallery-text {
  position: relative;
  top: 40vh;
  margin-left: 5vw;
  z-index: 1;
}

.gallery-text .gal-text{
   position: relative;
   font-size: 2.5rem;
   left: 10%;
   color: black;
 }

 .gallery-text .gal-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
 }

.refTable {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0px auto;
}

.refRow {
    display: table-row;
    padding: 0px auto;
}

.refCell {
    display: table-cell;
    width: 290px;
    text-align: center;
    font-size: 20px;
    border: 1px #ffffff solid;
    padding: 0px auto;
    margin: 10px 10px 10px 10px;
    background: #fdfcfc;
    color: #333333;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    resize: none;
    outline: 1;
    transition-duration: 0.2s;
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    -webkit-transition: top 0.6s ease-in-out;
    left: 0;
    color: #f7f7f7;
    text-decoration: none;
}

.refCell:hover .info {
    top: 0;
    display: block;
}

.refCell img {
    height: 400px;
    width: 400px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}

.refCell p {
    line-height: 20px;
}

.refCell:hover {
    border-color: #b32f01;
    background: #ffffff;
    -webkit-transition: color background 0.2s ease-in-out;
    -moz-transition: color background 0.2s ease-in-out;
    -ms-transition: color background -0.8s ease-in-out;
    -o-transition: color background 0.2s ease-in-out;
    transition: color background 0.2s ease-in-out;
    cursor: pointer;
    color: #cacaca;
}

.refCell:hover img {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity -0.8s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.refSep {
    display: table-cell;
    width: 5px;
}

/* -------------------------- GALLERY ENDS ------------------------- */

/* -------------------------- CONTACT US ENDS ------------------------- */

/**{
  margin: 0px;
  padding: 0px;
}*/
.con-title {
  height: 100vh;
  position: relative;
  top: 0;
}

.con-title img{
  padding-top: 20vh;
  margin-left: 5vw;
  width:auto;
  height:auto;
  float: left;
  z-index: 0;
  opacity: 0.9;
}

.con-title span{
  color: black;
  font-size: 64px;
  font-family: 'Roboto';
}

.contact-text {
  position: relative;
  top: 40vh;
  margin-right: 5vw;
  z-index: 1;
}

.contact-text .con-text{
   position: relative;
   font-size: 2.5rem;
   right: 10%;
   color: black;
 }

 .contact-text .con-text1{
   font-size: 2rem;
   left: 10%;
   color: black;
 }

.mphoto>img
{
  width:100%;
}
.mphoto
{
  height: 100%;
  width:100%;
  margin-bottom: 30px;
}
.bphoto
{
  height: 100%;
  width:100%;
  margin:10px;
}
.bphoto span
{
  text-align: center;
  font-size: 1.6em;
  font-family: Times New Roman;
  /*text-transform: uppercase;*/
  color: black;
}
#pas
{
  text-align: center;
  font-size: 1.6em;
  font-family: Times New Roman;
  /*text-transform: uppercase;*/
  color: white;
}
.back
{
  width:100%;
  height:800px; 
  /*background-image: url('../imgs/back.jpg');*/
}
.back1
{
  height:400px;
  padding-top:30px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; 
}
.back2
{
  float: right; 
  padding:30px;
}
.back3
{
  height: 200px;
}
a:hover{
  text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1199px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  
  .bphoto{
    padding-left: 100px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .bphoto{
    padding-left: 100px;
  }
}

@media (max-width: : 499px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 500px) and (max-width: 520px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 521px) and (max-width: 580px)
{
  .bphoto{
    padding-left: 100px;
    width: 0%;
  }#pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  .back
  {
    width:100%;
    height:1200px; 
  }
}
@media (min-width: 581px) and (max-width: 610px)
{
  .bphoto{
    padding-left: 120px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
}
@media (min-width: 611px) and (max-width: 700px)
{
  .bphoto{
    padding-left: 150px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
}
@media (min-width: 701px) and (max-width: 767px)
{
  .bphoto{
    padding-left: 170px;
    width: 0%;
  }
  #pas{
    width:200px;
  }
  #pas span p{
    text-align: center;
  }
  /*.back
  {
    width:100%;
    height:1200px; 
  }*/
}

/* -------------------------- CONTACT US ENDS -------------------------- */

/* -------------------------- FOOTER STARTS ------------------------- */
.panel-footer {
  padding-top: 25px;
  background-color: #222;
  width: 100%;
  /*height: 35vh;*/
}
.container{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}


section{
  width: 100%;
  /*height: 200px;*/
  font-family: Times new roman;
}

.panel-footer a, .panel-footer a:hover, .panel-footer a:visited{
  color: white;
  font-size: 18px;
  text-align: center;
}
span{
  color:white;
  font-size: 20px;
}

/********** Extra small devices only **********/
@media (min-height: 576px) and (max-width: 767px) {
  /* Footer */
  .panel-footer section {
    /*margin-bottom: 30px;*/
    text-align: center;
  }
  /*.panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }*/
  .panel-footer section hr {
    width: 50%;
  }
  section{
    border: 1px dotted grey;
    width: 100%;
  }
  /* End Footer */
}
@media (max-width: 575px) {

  #quick{
    height:155px;
  }
  #socia{
    height:210px;
  }
  #scroll{
    height:175px;
  }
}
/* -------------------------- FOOTER ENDS ----------------------- */

/*--------------------------- Back-to-top button ---------------- */
.back-to-top {
  position: fixed;
  /*display: none;*/
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: black;
  color: #fff;
  transition: all 0.4s;
  transform: none;
}

.back-to-top i:hover, .back-to-top a{
  background: #343a40;
  color: #fff;
  transform: none;
}