
.Header{
  /*background-image: url("../imgs/teams.png");*/
  background-size: cover;
  margin-top: -12px;
  }
#button{
    margin: auto;
    text-align: center;
    padding: 30px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto
}
.footer{
  background-image: url("../imgs/FOOTER.jpeg");
  background-size: cover;
}
.cont{
  border: 0.5px solid darkslategray;
  padding: 1px;
  margin-top: 1px;
  color: white; 
}
.a{
margin: auto;
text-align: center;
padding: 30px;
color: white;
}
/* Media - Queries */
@media screen and (min-width: 769px){
  .nav-toggle-label{
    display: none;
  }
}
@media all and (max-width: 1024px){
  .header-left img{
    height: 36px;
  }
  .header-right-link{
    font-size: 14px;
    margin-right: 5px;
  }
  .header-left{
    margin-top: 8px;
  }
  .header-right{
    margin-top: 14px;
  }
}
@media all and (max-width: 769px){
  .header-left{
    width: 100%;
    justify-content: space-around;
  }
  .header-right{
    flex-wrap: nowrap;
    overflow: hidden;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-right-link{
    margin: 0;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .header-right a{
    margin: 0 0 3px 0;
  }
  .nav-toggle:checked ~ .header-right{
    display: block;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 16px;
  }
}
